<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="6.0.0" targetFramework="net40" requireReinstallation="True" />
  <package id="sqlSugar" version="4.7.0" targetFramework="net45" />
</packages>